SERVER_PORT=8000

DB_PORT_HOST=5433

DB_USER=user
DB_PASSWORD=change_me
DB_NAME=postgres

RABBITMQ_PORT_HOST=5672
RABBITMQ_MGMT_PORT_HOST=15672

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=change_me
RABBITMQ_QUEUE_NAME=task_queue

REDIS_PORT_HOST=6379

REDIS_PASSWORD=change_me
REDIS_DB=0